
<ion-content class="login-content" padding>
  

    <div class="hero-image" >
      <img class="sky" alt="The sky above the ocean" src="../../assets/img/hero-sky.png"/>
      <img class="cloud cloud-1" alt="A grayish-blue cloud" src="../../assets/img/hero-cloud.png"/>
      <img class="cloud cloud-2" alt="Another grayish-blue cloud" src="../../assets/img/hero-cloud.png"/>
      <img class="ship" alt="A ship hovering a few feet over the surface of the water, bearing a flagpole with the Sails.js logo" src="../../assets/img/hero-ship.png"/>
      <img class="water" alt="The shadow of the floating ship on the water" src="../../assets/img/hero-water.png"/>
    </div>
  
  
  
    
    <ion-row style="margin-top: -50px;">
  
      <ion-col>
        <h1 class="logo">FACU</h1>
        <p class="description">Aplicacion de registro de eventos de la UNACH</p>
        <p class="description">Visitanos<a href="http://www.unach.edu.ec/" target="_blank">UNACH</a></p>
      </ion-col>
    </ion-row>
   
    <ion-button style="margin-left: auto;margin-top: auto;margin-right: auto; margin-bottom: auto; " color="primary"  (click)="doFbLogin()">
        Iniciar con Facebook
      </ion-button>
    
   
  </ion-content>
  
  